.about {
  .about-information{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about-button {
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 30px;
    color: rgb(0,0,0);
    font-size: 14px;
    text-decoration: none;
    background-color: rgba(215, 172, 127, 0.33);
    padding: 8px;
    border-radius: 4px;
    margin-right: 5px;
  }
}
