.contact {
  background: url('../images/Stamp-Blur.jpg');
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;

  .contact-information{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contact-form{
    text-align: right;

    .contact-name, .contact-email, .contact-message{
      width: 100%;
      font-size: 14px;
      margin-bottom: 4px;
      padding: 5px;
      border: none;
      border-radius: 4px;
      box-sizing: border-box;
      text-align: left;
    }

    .contact-submit{
      color: rgb(0,0,0);
      font-size: 14px;
      text-decoration: none;
      background-color: rgba(215, 172, 127, 0.33);
      padding: 8px;
      border-radius: 4px;
      display: inline-block;
      cursor: pointer;
      border: none;
    }
  }

  .contact-thanks {
    margin-top: 110px;
    text-align: center;
  }

  .contact-socialMedia{
    width: 45px;
    position: absolute;
    left: -65px;
    bottom: 0px;

    .contact-twitter, .contact-tumblr, .contact-linkedIn, .contact-gitHub{
      img{
        width:100%;
        height: auto;
      }
    }
  }
}
