.contact {

  .contact-information{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contact-form{
    text-align: right;

    .contact-name, .contact-email, .contact-message{
      width: 100%;
      font-size: 14px;
      margin-bottom: 4px;
      padding: 5px;
      border: none;
      border-radius: 4px;
      box-sizing: border-box;
      text-align: left;
    }

    .contact-submit{
      color: rgb(0,0,0);
      font-size: 14px;
      text-decoration: none;
      background-color: rgba(215, 172, 127, 0.33);
      padding: 8px;
      border-radius: 4px;
      display: inline-block;
      cursor: pointer;
      border: none;
    }
  }

  .contact-thanks {
    margin-top: 110px;
    text-align: center;
  }

  .contact-socialMedia{
    width: 45px;
    position: absolute;
    left: -65px;
    bottom: 0;

    .contact-twitter, .contact-tumblr, .contact-linkedIn, .contact-gitHub{
      img{
        width:100%;
        height: auto;
      }
    }
  }
}

@media #{$small-only} {
  .contact {
    .contact-socialMedia{
      width: 100%;
      text-align: center;
      position: relative;
      left: 0;
      margin-top: 30px;

      .contact-twitter, .contact-tumblr, .contact-linkedIn, .contact-gitHub{
        max-width: 45px;
        width: 22%;
        display: inline-block;
        margin: 0 2px;
      }
    }
  }
}
