.footer {

  .footer-text{
    background-color: rgba(18,18,17,0.58);
    line-height: 2;
    text-align: center;
    color: rgb(215, 172, 127);
    font-weight: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
