.grid{
  position: relative;
  width: 80%;
  height: 538px;
  background: url('../images/Background%20Plain.jpg');
  margin: 30px auto;
  background-repeat: repeat;
  background-size: cover;
  background-position: left bottom;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  text-align: right;
}
