.home {
  background: url('../images/Background%20Stamp.jpg');
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
}
