.island{
  position: relative;
  width: 80%;
  height: 538px;
  background: url('../images/Background%20with%20Logo.jpg');
  margin: 30px auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  text-align: right;

  .island-column{
    display: inline-block;
    width: 350px;
    height: 493px;
    margin: 23px 0;
    background-color: rgba(255, 255, 255, 0.5);

    .island-header{
      width: 260px;
      text-align: left;
      margin: 10px auto;

      .island-name{
        font-weight: normal;
        margin-bottom: 0px;
      }

      .island-title{
        font-weight: normal;
        margin-top: 6px;
      }
    }

    .island-content{
      width: 260px;
      margin: 10px auto;
      position: relative;
    }
  }
}
