.projectSlide{
  margin-top: 40px;

  .projectSlide-image{
    width: 500px;
    display: inline-block;
  }

  .projectSlide-title{
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .projectSlide-credits{
    font-weight: normal;
    margin-top: 5px;
  }
  .projectSlide-button {
    color: black;
    font-size: 14px;
    text-decoration: none;
    background-color: rgba(215, 172, 127, 0.33);
    padding: 8px;
    border-radius: 4px;
  }
}
