@import "normalize";
@import "typography";
@import "mediaQueries";
@import "navigationBar";
@import "home";
@import "about";
@import "portfolio";
@import "contact";
@import "island";
@import "footer";
@import "gridHeader";
@import "grid";
@import "gridItem";
@import "project";
@import "projectSlide";

body {
  background: url('../images/Stamp-Blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
}
