<!doctype html>
<html>
<head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='/css/app.css' rel='stylesheet'>
</head>
<body>
<div id='react-main-mount'>
</div>
<script src='/js/bundle.js'></script>
</body>
</html>